---
layout: default
---

<div class="flex flex-col items-center">
  <img width="500px" src="/assets/undraw_programmer_imem.svg" alt="Drawing of a programmer" class="py-20">
</div>

<div class="flex flex-col items-center">
  <div class="about-me">
    <p>I work as a data scientist at <a href="https://scoutbee.com/">scoutbee</a>, a B2B procurement startup.</p>
    <p>In my freetime, I like to read (nonfiction) and I like to code. I'm really good at Python. I love using Emacs 💕</p>
  </div>
</div>

{{ content }}
