---
layout: default
---

<div class="flex flex-col items-center">
  <div class="container mx-auto max-w-lg">
  <h1 class="page-heading text-gray-900 text-3xl pt-8 mb-4">Blog Archive</h1>


  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-archives">
    {% for post in site.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li class="my-6">
        <span class="post-meta text-gray-600">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.categories != empty or post.tags != empty %}
            {% include category_links.html categories=post.categories tags=post.tags %}
          {% endif %}
          {% if post.external-url %}
            • <a href="{{ post.url | relative_url }}">Permalink</a>
          {% endif %}
        </span>

        <h2 class="my-0 py-1">
          {% if post.external-url %}
            <a class="post-link text-indigo-600 text-xl" href="{{ post.external-url }}">{{ post.title | escape }} &rarr;</a>
          {% else %}
            <a class="post-link text-indigo-600 text-xl" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}</a>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

  </div>
</div>
